aiofiles==23.2.1
aiohttp>=3.9.4
numpy==1.26.4
Pillow>=9.3
psutil
tgcrypto
python-dotenv
flask
speedtest-cli==2.1.3

# Use the latest Pyrogram (v2.0+) to fix "msg_id too low" errors
pyrogram>=2.0.106

# Fix: py-tgcalls 1.1.6 requires ntgcalls >= 1.0.4
py-tgcalls>=1.1.6
ntgcalls>=1.0.4
